@model MCE_ASP_NET_MVC.ViewModels.FriendsViewModel

<!DOCTYPE html>
<html>
<body>
    <p>My friendship code: @Model.currentUserFriendshipСode</p>

    <form asp-controller="Friends" asp-action="SendFriendRequest" method="post">
        <p>Enter your friend's friendship code to add him as a friend</p>

        <input name="friendshipСode" type="text" required>
        <input type="submit" value="Send a friend request">
    </form>


    <p>Friend list:</p>
    @if (Model.friends != null && Model.friends.Count() > 0)
    {
        @foreach (var item in Model.friends)
        {
            <p>@item.friendId     @item.friendName</p>
        }
    }
</body>
</html>