@model MCE_ASP_NET_MVC.ViewModels.FriendsViewModel

<!DOCTYPE html>
<html>
<body>
    <p>My friendship code: @Model.currentUserFriendshipСode</p>

    <form>
        <p>Enter your friend's friendship code to add him as a friend</p>
        <input type="text">
        <input type="button" value="Send a friend request">
    </form>
</body>
</html>