@model MCE_ASP_NET_MVC.ViewModels.ChampionshipsListViewModel

<!DOCTYPE html>
<html>
<body>
    <form asp-controller="Championships" asp-action="SubmitRequestJoinChampionship" method="post">
        <p>To join the championship, enter the championship link and send a request to join</p>

        <input type="text" name="championshipId" required>
        <input type="submit" value="Submit a request to join">
    </form>
    <p></p>
    <a asp-controller="Championships" asp-action="ShowCreateChampionshipForm">Create championship</a>

    <p>Championships:</p>
    @if (Model.Championships != null && Model.Championships.Count() > 0)
    {
        @foreach (var item in Model.Championships)
        {
            <form asp-controller="Championships" asp-action="ShowChampionship">
                <input type="hidden" name="championshipId" value="@item.Id" />
                <input type="submit" value="@item.Name">
            </form>
            <form asp-controller="Championships" asp-action="RemoveChampionship" method="post">
                <input type="hidden" name="id" value="@item.Id" />
                <input type="submit" value="Remove">
            </form>
        }
    }
</body>
</html>