@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <table>
        <tr>
            <td>
                <p><a asp-controller="Friends" asp-action="ShowFriendList">Friends</a></p>
            </td>
            <td>
                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Logout</button>
                </form>
            </td>
        </tr>
    </table>
}
else
{
    <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
}